
.background{
  background-image: url('../img/game1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.mobile {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#C33E1D,#AD2A0A);
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.mobile img {
  width: 70%;
  padding: 20px 0;
}

@media (min-width: 0px) and (max-width: 799px) {
  .mobile {
    display: flex;   
    font-size: 2em;
  }
}

@media(max-width:800px){
  .logohidden{
    display:none; 
  }
}

@media(orientation:portrait)
  and (max-width:800px){
    .displayhidden{
    display: none;
  }
}
.blackbox{
  width:800px;
  height:600px;
  background-color: black;
}
.game{
  /* margin-top: 8%; */
  display: block;
  /* width: 800px;
  height: 600px; */
  border: .1em solid #fff;
}
.logo{
  display: block;
  width: 20%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

