body{
  background-image: url('../img/game1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
}
.scorebar{
  width:50%;  
}
@media screen and (max-width: 720px) {
  .scorebarhidden{
    display: none;
  }
}