body {
    font-family: Pridi;
    src: url('../webfonts/Pridi-Light.ttf');
    overflow: hidden;
}
.bggame{
    background-color: #333;
    background-image: url('../img/bggame1.png');
    /* background-image: url('../img/games.png'); */
    background-size: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.gCenter{
    width: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.logo{
    content: url("../img/logo1.png");
    z-index: 0;
    cursor: pointer;
    width: 20vw;
    animation: tada 1.5s infinite;
}
.logo:hover{
    width: 20vw;
    content: url("../img/logo_t.png");
}
.torch1{
    height: 50vh;
    -webkit-transform: rotateY(150deg); /* Safari */
    transform: rotateY(150deg); /* Standard syntax */
}
.torch2{
    height: 50vh;
}
big{
    font-family: Pridi;
    src: url('../webfonts/Pridi-Light.ttf');
    font-size: 1000pt;
}
.what{
    z-index: 0;
    width: 10vw;
    animation: tada 1.5s infinite;
}
@media (min-width: 769px) {
    .hiddenMoblie{
        display: none;
    }
}
@media (max-width: 769px) {
    .hiddenDesktop{
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .bggame{
        background-color: #333;
        background-image: url('../img/bggame1.png');
        /* background-image: url('../img/games.png'); */
        background-size: 200%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    .gCenter{
        width: 55vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .torch1{
        height: 30vh;
        position: fixed;
        bottom: 0;
        left: 0;
        -webkit-transform: rotateY(150deg); /* Safari */
        transform: rotateY(150deg); /* Standard syntax */
    }
    .torch2{
        height: 30vh;
        width: auto;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .logo{
        content: url("../img/logo1.png");
        z-index: 0;
        cursor: pointer;
        width: 40vw;
        animation: tada 1.5s infinite;
        margin-bottom: 10vh;
    }
    .logo:hover{
        width: 40vw;
        content: url("../img/logo_t.png");
    }
    .what{
        z-index: 0;
        width: 25vw;
        animation: tada 1.5s infinite;
    }
    
}